/.vscode
/build
/build.debug
/build.release
/build.Debug
/build.Release
/build.
/external/install
.DS_Store
/*.tar.xz
import_supplemental_files.sh
setup_repo.sh
/.nfs*
/data
/data/systest_btree_sample
/data/preloaded_btree
/data/tpch_s1.tar.xz
/data/tpch_s1
/data/tpch_s01.tar.xz
/data/tpch_s01
